<HTML>
<HEAD>
<TITLE>Software Development</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1250">
<!-- ImageReady Preload Script (index.psd) -->
<SCRIPT TYPE="text/javascript">
<!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}

function changeImages() {
	if (document.images && (preloadFlag == true)) {
		for (var i=0; i<changeImages.arguments.length; i+=2) {
			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
		}
	}
}

var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		home_page_over = newImage("images/home-page-over.jpg");
		about_us_over = newImage("images/about-us-over.jpg");
		software_over = newImage("images/software-over.jpg");
		support_over = newImage("images/support-over.jpg");
		contacts_over = newImage("images/contacts-over.jpg");
		preloadFlag = true;
	}
}

// -->
</SCRIPT>
<!-- End Preload Script -->
<link href="css/styles.css" rel="stylesheet" type="text/css">
</HEAD>
<center>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 ONLOAD="preloadImages();">
<!-- ImageReady Slices (index.psd) -->
<TABLE WIDTH=775 BORDER=0 CELLPADDING=0 CELLSPACING=0 class="frame">
	<TR>
		<TD ROWSPAN=17>
			<IMG SRC="images/m1.jpg" WIDTH=50 HEIGHT=800 ALT=""></TD>
		<TD COLSPAN=3>
			<IMG SRC="images/m3.jpg" WIDTH=229 HEIGHT=120 ALT=""></TD>
		<TD COLSPAN=2>
			<A HREF="index.html"
				ONMOUSEOVER="window.status='home page'; changeImages('home_page', 'images/home-page-over.jpg'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('home_page', 'images/home-page.jpg'); return true;">
				<IMG NAME="home_page" SRC="images/home-page.jpg" WIDTH=87 HEIGHT=120 BORDER=0 ALT="home page"></A></TD>
		<TD>
			<A HREF="about.html"
				ONMOUSEOVER="window.status='about us'; changeImages('about_us', 'images/about-us-over.jpg'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('about_us', 'images/about-us.jpg'); return true;">
				<IMG NAME="about_us" SRC="images/about-us.jpg" WIDTH=83 HEIGHT=120 BORDER=0 ALT="about us"></A></TD>
		<TD COLSPAN=4>
			<A HREF="software.html"
				ONMOUSEOVER="window.status='software'; changeImages('software', 'images/software-over.jpg'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('software', 'images/software.jpg'); return true;">
				<IMG NAME="software" SRC="images/software.jpg" WIDTH=86 HEIGHT=120 BORDER=0 ALT="software"></A></TD>
		<TD COLSPAN=2>
			<A HREF="support.html"
				ONMOUSEOVER="window.status='support'; changeImages('support', 'images/support-over.jpg'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('support', 'images/support.jpg'); return true;">
				<IMG NAME="support" SRC="images/support.jpg" WIDTH=86 HEIGHT=120 BORDER=0 ALT="support"></A></TD>
		<TD COLSPAN=3>
			<A HREF="contacts.html"
				ONMOUSEOVER="window.status='contacts'; changeImages('contacts', 'images/contacts-over.jpg'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('contacts', 'images/contacts.jpg'); return true;">
				<IMG NAME="contacts" SRC="images/contacts.jpg" WIDTH=104 HEIGHT=120 BORDER=0 ALT="contacts"></A></TD>
		<TD ROWSPAN=17>
			<IMG SRC="images/m2.jpg" WIDTH=50 HEIGHT=800 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=120 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=15>
			<IMG SRC="images/m4.jpg" WIDTH=675 HEIGHT=30 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=30 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=15>
			<IMG SRC="images/m5.jpg" WIDTH=675 HEIGHT=200 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=200 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=15>
			<IMG SRC="images/m6.jpg" WIDTH=675 HEIGHT=6 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=6 ALT=""></TD>
	</TR>
        <TR>
            <TD width="675" height="344" COLSPAN="15" ROWSPAN="11" align="center" valign="middle" bgcolor="#000000">Contacts </TD>
		    <TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=59 ALT=""></TD>
        </TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=2 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=68 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=1 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=46 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=24 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=71 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=13 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=11 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=24 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=25 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=15 bgcolor="#000000">
			<IMG SRC="images/m7.jpg" WIDTH=675 HEIGHT=6 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=6 ALT=""></TD>
	</TR>
	<TR>
		<TD WIDTH=675 HEIGHT=94 COLSPAN=15 align="center" valign="middle" bgcolor="#000000"><a href="index.html">HOME</a> | <a href="about.html">ABOUT US</a> | <a href="software.html">SOFTWARE</a> | <a href="#">PARTNERS</a> | <a href="#">NEWS &amp; EVENTS</a> | <a href="support.html">SUPPORT</a> | <a href="contacts.html">CONTACTS</a>          <br>
      Copyright &copy; Your Company Name</TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=94 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=50 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=51 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=158 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=20 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=30 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=57 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=83 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=20 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=31 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=25 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=10 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=37 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=49 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=49 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=34 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=21 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=50 HEIGHT=1 ALT=""></TD>
		<TD></TD>
	</TR>
</TABLE>
<!-- End ImageReady Slices -->
</BODY>
</center>
</HTML>