@{
    ViewBag.Title = "Home Page";
}
<HTML>
<HEAD>
<TITLE>Software Development</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1250">
<!-- ImageReady Preload Script (index.psd) -->
<SCRIPT TYPE="text/javascript">
<!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}

function changeImages() {
	if (document.images && (preloadFlag == true)) {
		for (var i=0; i<changeImages.arguments.length; i+=2) {
			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
		}
	}
}

var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		home_page_over = newImage("images/home-page-over.jpg");
		about_us_over = newImage("images/about-us-over.jpg");
		software_over = newImage("images/software-over.jpg");
		support_over = newImage("images/support-over.jpg");
		contacts_over = newImage("images/contacts-over.jpg");
		preloadFlag = true;
	}
}

// -->
</SCRIPT>
<!-- End Preload Script -->
<link href="css/styles.css" rel="stylesheet" type="text/css">
</HEAD>
<center>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 ONLOAD="preloadImages();">
<!-- ImageReady Slices (index.psd) -->
    <table width=775 border=0 cellpadding=0 cellspacing=0 class="frame">
        <tr>
            <td rowspan=17>
                <img src="images/m1.jpg" width=50 height=730 alt="">
            </td>
        </tr>
        <tr>
            <td colspan=15>
                <img src="images/m4.jpg" width=675 height=17 alt="">
            </td>
            <td rowspan=17>
                <img src="images/m2.jpg" width=50 height=740 alt="">
            </td>
        </tr>


        <tr>
            <td colspan=15>
                <img src="images/m5.jpg" width=675 height=205 alt="">
            </td>
         
        </tr>
       

        <tr>
            <td colspan=15>
                <img src="images/m6.jpg" width=675 height=12 alt="">
            </td>

        </tr>
        
        <tr>
            <td colspan=8 rowspan=2 bgcolor="#000000">
                <img src="images/wel1.jpg" width=450 height=61 alt="">
            </td>
            <td colspan=7 bgcolor="#000000">
                <img src="images/nw1.jpg" width=225 height=59 alt="">
            </td>
            
        </tr>
        <tr>
            <td width=25 height=141 rowspan=5 bgcolor="#000000"></td>
            <td width=179 height=70 colspan=5 rowspan=2 align="left" valign="top" bgcolor="#000000">
                <a href="#" class="b">4.3.2016</a><br>
                WunderTwin's skills tapped to deploy and develop the exquiste clothing site SharpShop.direct. 
            </td>
            <td width=21 height=141 rowspan=5 bgcolor="#000000"></td>
           
        </tr>
        <tr>
            <td width=51 height=69 rowspan=2 bgcolor="#000000"></td>
            <td width=368 height=69 colspan=6 rowspan=2 align="left" valign="top" bgcolor="#000000">
                <a href="#" class="b">
                    State of the Art intuitive Web Design
                </a><br>
                Dolores et ea consetetur sadi pscing elit consetetur pscing elitr, sed diam nonumy consetetur sadi lorem sed  et ea consetetur sadi pscing elitDolores et ea consetetur sadi pscing elit consetetur pscing elitr, sed diam nonumy  <a href="#" class="a">| more</a>
            </td>
            <td width=31 height=69 rowspan=2 bgcolor="#000000"></td>
            @*<td>
                <img src="images/spacer.gif" width=1 height=68 alt="">
            </td>*@
        </tr>
        <tr>
            <td width=179 height=71 colspan=5 rowspan=3 align="left" valign="top" bgcolor="#000000">
                <a href="#" class="b">
                    2.20.2015
                </a><br>
                WunderTwin develops Kitchen Boss, The kitchen ingredient costing solution.
            </td>
            @*<td>
                <img src="images/spacer.gif" width=1 height=1 alt="">
            </td>*@
        </tr>
        <tr>
            <td colspan=8 bgcolor="#000000">
                <img src="images/fs1.jpg" width=450 height=46 alt="">
            </td>
            
        </tr>
        <tr>
            <td colspan=2 rowspan=3 bgcolor="#000000">
                <img src="images/fs2.jpg" width=209 height=108 alt="">
            </td>
            <td colspan=6 rowspan=3 bgcolor="#000000">
                <img src="images/fs3.jpg" width=241 height=108 alt="">
            </td>
            
        </tr>
        <tr>
            <td colspan=7 bgcolor="#000000">
                <img src="images/log1.jpg" width=225 height=71 alt="">
            </td>
            
        </tr>
        <tr>
            <td colspan=3 rowspan=3 bgcolor="#000000">
                <img src="images/log2.jpg" width=72 height=48 alt="">
            </td>
            <td width=98 height=24 colspan=2 rowspan=2 align="left" valign="top" bgcolor="#000000"><input name="textfield" type="text" class="text7" style="width:90px; height:20px"></td>
            <td colspan=2 rowspan=3 bgcolor="#000000">
                <a href="#"
                   onmouseover="window.status='go';  return true;"
                   onmouseout="window.status='';  return true;">
                    <img src="images/go.jpg" width=55 height=48 border=0 alt="go">
                </a>
            </td>
          
        </tr>
        <tr>
            <td rowspan=3 bgcolor="#000000">
                <img src="images/fs4.jpg" width=51 height=60 alt="">
            </td>
            <td width=158 height=60 rowspan=3 align="left" valign="top" background="images/b_fs1.jpg" bgcolor="#000000" style="line-height:16px">
                <p><a href="#" class="c">Dolores et ea consetetur sadi</a> <a href="#" class="c">pscing elit consetetur pscing elitr,</a> <a href="#" class="c">sed diam nonumy consetetur sadi</a> </p>
            </td>
            <td colspan=2 rowspan=3 bgcolor="#000000">
                <img src="images/fs5.jpg" width=50 height=60 alt="">
            </td>
            <td width=191 height=60 colspan=4 rowspan=3 align="left" valign="top" background="images/b_fs2.jpg" bgcolor="#000000" style="padding-right:20px; line-height:16px"><a href="#" class="d">Dolores et ea consetetur sadi pscing</a> <a href="#" class="d">elit consetetur pscing elitr, sed diam</a> <a href="#" class="d">nonumy consetetur sadi </a></td>
            <td>
                <img src="images/spacer.gif" width=1 height=11 alt="">
            </td>
        </tr>
        <tr>
            <td width=98 height=24 colspan=2 align="left" valign="bottom" bgcolor="#000000"><input name="textfield2" type="text" class="text7" style="width:90px; height:20px"></td>
           
        </tr>
        <tr>
            <td width=225 height=25 colspan=7 bgcolor="#000000"></td>
           
        </tr>
        <tr>
            <td colspan=15 bgcolor="#000000">
                <img src="images/m7.jpg" width=675 height=6 alt="">
            </td>
           
        </tr>
        <tr>
            <td width=675 height=94 colspan=15 align="center" valign="middle" bgcolor="#000000">
                <a href="index.html">HOME</a> | <a href="about.html">ABOUT US</a> | <a href="software.html">SOFTWARE</a> | <a href="#">PARTNERS</a> | <a href="#">NEWS & EVENTS</a> | <a href="support.html">SUPPORT</a> | <a href="contacts.html">CONTACTS</a>          <br>
                Copyright © Your Company Name
            </td>
           
        </tr>
        <tr>
            <td>
                <img src="images/spacer.gif" width=50 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=51 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=158 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=20 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=30 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=57 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=83 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=20 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=31 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=25 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=10 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=37 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=49 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=49 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=34 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=21 height=1 alt="">
            </td>
            <td>
                <img src="images/spacer.gif" width=1 height=1 alt="">
            </td>
            <td></td>

            <td>
        </tr>
    </table>
<!-- End ImageReady Slices -->
</BODY>
</center>
</HTML>